<?xml version='1.0' encoding='utf-8'?>
<widget id="gr.infokey.employeedirectory" version="1.1.0" versionCode="10" xmlns="http://www.w3.org/ns/widgets" xmlns:android="http://schemas.android.com/apk/res/android" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Employee Directory</name>
    <description>
        A simple employee directory application
    </description>
    <author email="thanast@infokey.gr" href="http://infokey.gr">
        Themistoklis Anastasopoulos
    </author>
    <feature name="http://api.phonegap.com/1.0/camera" />
    <feature name="http://api.phonegap.com/1.0/contacts" />
    <feature name="http://api.phonegap.com/1.0/file" />
    <feature name="http://api.phonegap.com/1.0/geolocation" />
    <feature name="http://api.phonegap.com/1.0/media" />
    <feature name="http://api.phonegap.com/1.0/network" />
    <feature name="http://api.phonegap.com/1.0/notification" />
    <content src="index.html" />
    <access origin="*" />
    <engine name="browser" spec="~5.0.4" />
    <plugin name="cordova-plugin-contacts" spec="^3.0.1" />
    <plugin name="org.apache.cordova.geolocation" spec="^0.3.6" />
    <plugin name="cordova-plugin-camera" spec="^4.0.3" />
    <plugin name="phonegap-plugin-barcodescanner" spec="^8.0.0">
        <variable name="ANDROID_SUPPORT_V4_VERSION" value="27.+" />
    </plugin>
    <config-file mode="merge" parent="/*" target="AndroidManifest.xml">
        <uses-permission android:name="android.permission.CAMERA" />
        <uses-feature android:name="android.hardware.camera" />
        <uses-feature android:name="android.hardware.camera.autofocus" />
    </config-file>
    <engine name="android" spec="~7.1.0" />
</widget>
